<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo-sequelize</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

  {{!-- google font --}}
  <link href="https://fonts.googleapis.com/css?family=Be+Vietnam|Noto+Sans+TC&display=swap" rel="stylesheet">
</head>

<body onLoad="initClock()">
  <header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Todo List</a>

      <div id="timedate">
        <div class="timedate">
          <a id="mon">January</a>
          <a id="d">1</a>,
          <a id="y">0</a>
        </div>
        <div class="timedate">
          <a id="h" class="">12</a> :
          <a id="m">00</a>:
          <a id="s">00</a>
          <a id="mi" style="display:none;">000</a>
        </div>
      </div>

      <ul class="nav justify-content-end">
        {{#if isAuthenticated}}
        <li class="nav-item">
          <a href="" class="nav-link text-light">Welcome, {{user.name}}</a>
        </li>
        <li class="nav-item">
          <a href="/users/logout" class="btn btn-dark btn-outline-light">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/users/login" class="btn btn-dark btn-outline-light">Login</a>
        </li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main class="d-flex justify-content-between flex-column">
    <div class="container mt-5 mb-5 pb-5">
      {{{body}}}

    </div>
    <footer class="mt-5 page-footer font-small  bg-dark text-white navbar-fixed-bottom">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-2">© 2019 Copyright:
        <a class="text-white text-muted" href="https://github.com/s19003045/"> Github s19003045 </a>
      </div>
      <!-- Copyright -->
    </footer>
  </main>



  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>


  <script src="/js/clock.js"></script>
</body>

</html>