<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>todo-sequelize</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-brand">Todo List</div>
      <a href="#" class="btn btn-info btn-outline-light">Login</a>
    </nav>
  </header>

  <main>
    <div class="container">
      {{{body}}}
    </div>
  </main>



  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.js"></script>
</body>

</html>