<form action="/todos" method="POST">
  <div class="input-group">
    <input type="text" class="form-control" value="" name="name" placeholder="name">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>