/* main */
body {
  font-family: "Noto Sans TC", "Be Vietnam", sans-serif;
  min-height: 100vh;
}
main {
  padding-top: 56px;
  background-image: url("https://picsum.photos/id/1043/1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
  /* height: 90vh; */
  min-height: 100vh;
}

.container h4 {
  font-size: 1em;
}

@media only screen and (min-width: 768px) {
  .container h4 {
    font-size: 1.2em;
  }
}
