/* main */
body {
  font-family: "Noto Sans TC", "Be Vietnam", sans-serif;
  min-height: 100vh;
}
main {
  padding-top: 56px;
  background-image: url("https://picsum.photos/id/1043/1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
  /* height: 90vh; */
  min-height: 100vh;
}

.container h4 {
  font-size: 1em;
}

/* for clock */
#timedate {
  font: small-caps lighter 14px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  /* width: 30%; */
  margin: 0px auto;
  color: #fff;
  border-left: 3px solid yellow;
  padding: 0px 20px;
}

/* for clock */

@media only screen and (min-width: 768px) {
  .container h4 {
    font-size: 1.2em;
  }

  #timedate {
    font: small-caps lighter 20px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
      "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: left;
    /* width: 30%; */
    margin: 0px auto;
    color: #fff;
    border-left: 3px solid yellow;
    padding: 0px 20px;
  }
}
